<h1>Articles listing page</h1>

<%= link_to "New article", new_article_path %>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% @articles.each do |article| %>
        <tr>
            <td><%= article.title%></td>
            <td><%= article.description%></td>
            <td><%= link_to "Go", article_path(article)%></td>
            <td>Placeholder</td>
        </tr>
        <% end %>
    </tbody>
</table>